body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-form {
  background-color: #73946B; /* Same background color */
  padding: 50px; /* Increased padding */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 600px; /* Fixed width */
}

.contact-title {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.contact-input-group {
  margin-bottom: 20px;
}

.contact-label {
  margin-bottom: 5px;
  color: white;
}

.contact-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.contact-textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  resize: none; /* Prevent resizing */
}

.contact-button {
  padding: 12px;
  background-color: #537d5d; /* Button color */
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s; /* Smooth transition */
}

.contact-button:hover {
  background-color: #546c4e; /* Darker on hover */
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-form {
    width: 90%; /* Adjust for smaller screens */
  }
}