body {
  margin: 0;
  font-family: Arial, sans-serif;
  }

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form {
  background-color: #73946B;
  padding: 50px; /* Increased padding for larger form size */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 400px; /* Increased width for a larger form */
  
}

.register-title {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.register-input-group {
  margin-bottom: 20px;
}

.register-label {
  margin-bottom: 5px;
  color: white;
  
}

.register-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  
}

.register-button {
  padding: 12px;
  background-color: #546c4e;
  /* Button color */
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s; /* Smooth transition */
}

.register-button:hover {
  background-color: #73946B;/* Darker blue on hover */
}

.register-note {
  text-align: center;
  margin-top: 15px;
  color: white;
}

@media (max-width: 768px) {
  .register-container {
    flex-direction: column;
  }

  .register-form {
    width: 90%; /* Adjust for smaller screens */
  }
}