* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: Arial, sans-serif;
}
body{
    background-color: #D2D0A0;
}

.navbar-header {
    font-size: 20px;
    width: 100%;
    height: 60px; /* Increased height for visibility */
    padding: 10px 25px; /* Adjusted padding */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: #73946B; /* Fixed gradient syntax */
}

.link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.signin{
    color: aliceblue;
    font-weight: bold;
}
.btn_input{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}